a:link, a:visited {
    text-decoration: none;
    font-size: larger;
    color: #ac4d21;
}
a:hover {
    text-decoration: underline; 
    color: #f89d16;
}
a:active {
    text-decoration: none
}
.navbar, .barra-botoes {
    justify-content: space-between !important;
}
.btn-procurar {
    color: #b34c1b;
    border-color: #b34c1b;
}
.btn-procurar:hover {
    color: #fff;
    background-color: #b34c1b;
    border-color: #b34c1b;
}
.footer-bg {
    background-color: #4e230c;
}
.footer-copyright {
    color: white;
}
.centralizar-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: -webkit-fill-available;
}
.alinhamento-conteudo {
    margin-left: 1.2rem;
}
.titulos {
    font-family: cursive;
    color: #b34c1b;
}
