a:link, a:visited {
    text-decoration: none;
    font-size: larger;
    color: #ac4d21;
}
a.font-normal {
    font-size: medium;
}
a:hover {
    text-decoration: none;
    color: #f89d16;
}

a:active {
    text-decoration: none
}

.cursor {
    cursor: pointer;
}

input:focus::placeholder {
    color: transparent;
}

.navbar, .barra-botoes {
    justify-content: space-between !important;
}

.cor-padrao-txt {
    color: #b34c1b;
}

.cor-tabela-header {
    background-color: #b34c1b;
    color: white;
}

.btn-procurar {
    color: #b34c1b;
    border-color: #b34c1b;
}

.btn-procurar:hover {
    color: #fff;
    background-color: #b34c1b;
    border-color: #b34c1b;
}

.btn-procurar-comprar {
    color: #fff;
    background-color: #b34c1b;
    border-color: #b34c1b;
}

.footer-bg {
    background-color: #4e230c;
}

.footer-copyright {
    color: white;
}

.valor-size {
    font-size: larger !important;
}

.centralizar-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: -webkit-fill-available;
}

.alinhamento-conteudo-esq {
    margin-left: 1.2rem;
}

.alinhamento-conteudo-dir {
    margin-right: 1.2rem;
}

.alinhamento-cards-produtos {
    margin-right: 1.8rem;
}

.titulos {
    font-family: cursive;
    color: #b34c1b;
}

.linha-vertical {
    border-left: 4px solid #b34c1b;
    height: 450px;
}

.img-container-cadastro {
    max-width: 500px;
    position: relative;
}

.img-size {
    width: 100%;
}

.container-cadastro-mt {
    margin-top: 10%;
}

.container-login-mt {
    margin-top: 5%;
}

.img-container-login {
    max-width: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.esqueci-senha-pl {
    padding-left: 17%;
}

.card{
    width: 15rem;
}

.valor-produto {
    font-family: cursive;
    font-size: large;
    color: #b34c1b;
    display: flex;
    flex-direction: row-reverse;
}

.largura-compras {
    width: 30rem !important;
}

.compras-title-row {
    height: 2rem;
}

.btn-incluir-produto {
    margin-top: 2rem;
}

.alinhamento-exclusao-produto {
    margin-left: 1.7rem;
}